# ==========================================
# PY + CACHE
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================================
# VENV
# ==========================================
venv/
env/
.venv/
.env/

# ==========================================
# ENV VAR + SECRETS
# ==========================================
.env
.env.local
.env.development
*.pem
credentials.json

# ==========================================
# Ml + DS
# ==========================================
*.ipynb_checkpoints/
data/
models/
*.pkl
*.h5

# ==========================================
# Dev tools + tests
# ==========================================
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# ==========================================
# IDE + OS
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db